# Ambiente de execução
NODE_ENV=test

# Origem do SUT
BASE_URL=http://localhost:3000

# Porta do servidor SUT didático local
SUT_PORT=3000

# Credenciais de teste - Perfil Cidadão
CITIZEN_EMAIL=ana@exemplo.com
CITIZEN_PASSWORD=senha123

# Credenciais de teste - Perfil Gestor
MANAGER_EMAIL=gestor@exemplo.com
MANAGER_PASSWORD=senha123
